.input{
    align-items: center;
    background-color: beige;
    
}
.in{
    width: 295px;
    padding: 0px;
}
#lname{
    width: 20%;
}
#Nom{
    width: 80%;
}
html,body{
    background-image: linear-gradient(#ccae62,#ffda79 );
    background-repeat: no-repeat;
    height: 100%;
}
.contenair{
    display: flex;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 10%;
}
button{
    color: black;
    background-color: #cc8e35;
    border-radius: 2px;
    border-color: #1e272e;
    justify-content: space-around;
    flex-wrap: wrap;
    display: block;
    width: 300px;
    height: 50px;
    background-size: cover;
}

h1{
    color: black;
    font-style: italic;
    width: 300px;
}